.Intro {
  margin-top: 16px;
  text-align: justify;
  margin-bottom: 10px;
  max-width: 700px;

  @media screen and (max-width: 1170px) {
    max-width: 600px;
  }
  @media screen and (max-width: 975px) {
    max-width: none;
  }
}
